///COLOR FOR FONTS
$primary--gray: #3b4342;
$gray--medium: #9b9b9b;
$pink: #f7eff8;

////BACKGROUND COLORS
$brown--dark: #3c2b23;
$brown--medium: #a78c70;
$beige: #f2eeea;
$blue--primary: #31415b;
$blue--secondary: #708ba7;
$white: #fff;

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.signin {
  background-image: url(/src/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background: radial-gradient(ellipse, $beige 15%, $primary--blue 100%);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  &__container {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__img {
    border: 2px solid #eee;
    width: 160px;
    height: 160px;
    border: 1px solid $gray--medium;
  }

  &__block {
    position: relative;
    margin-top: 20px;
  }

  &__input {
    border-radius: 5px;
    width: 200px;
    padding: 10px 17px;
    margin-bottom: 25px;
    background-color: $beige;
    font-size: 14px;
    border-bottom: 1px solid $brown--dark;
    outline: 0;
    color: $brown--dark;
  }

  &__label {
    text-transform: lowercase;
    font-weight: 400;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: left center;
    top: 30%;
    left: -10px;
    color: $brown--dark;
    pointer-events: none;
    transition: 0.3s ease-in-out;
    opacity: 0.5;
    padding: 20px;
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label {
    top: -10px;
    left: -15px;
    transform: translateY(-50%), scale(0.5), translateX(10px);
    opacity: 1;
    border-top: transparent;
    font-weight: 600;
  }

  &__btn {
    width: 200px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid $brown--dark;
    background-color: $beige;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: all ease 0.2s;
    color: $brown--dark;
  }

  &__btn:hover {
    transform: scale(1.05);
    background-color: $brown--medium;
    color: $beige;
  }
}

#wrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  border: 1px solid #000;
  &__heading {
    padding-left: 20px;
  }
}

//////MEDIA QUERIES

@media screen and (max-width: 400px) {
  .signin {
    &__container {
      width: 100%;
      padding: 0 8px;
    }
    &__block {
      margin-top: 30px;
    }
    &__label {
      color: $beige;
    }
    &__img {
      width: 200px;
      height: 200px;
    }
    &__username {
      width: 100%;
    }
    &__btn {
      width: 230px;
    }
  }
}
